@charset "utf-8";

.mce-content-body{font-family: 'Noto Sans JP', sans-serif;}

.post-article__body h2,
.mce-content-body h2{
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.4;
  border-bottom: 2px solid rgba(0,0,0,1);
  }
.post-article__body h3,
.mce-content-body h3{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  }
.post-article__body h4,
.mce-content-body h4{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 1.4;
  }  
.post-article__body div,
.mce-content-body div{
  margin-bottom: 1em;
  }
.post-article__body img,
.mce-content-body img{
  width: auto;
  max-width: 100%;
  }

@media screen and (max-width: 560px) {

.post-article__body h2,
.mce-content-body h2{
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 16px;
  }
.post-article__body h3,
.mce-content-body h3{
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  }

}

    .post-article__body p,.post-article__body div{
      line-height: 1.8;
    }