.support .common-top__body {
  background-image: url(../images/support/support-top-bg.png);
}

.common-wrapper.support {
  overflow-x: hidden;
  padding-bottom: 8.125rem;
}

.support-top__head {
  margin-top: 3.8125rem;
}

.support-top__head p {
  color: #0f0f0f;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: 0.1375rem;
  line-height: 1.73;
  position: relative;
  text-align: center;
}

.support-top__head span {
  background: linear-gradient(transparent 60%, #55ba7e 60%);
  font-weight: bold;
  letter-spacing: 0.25rem;
  position: relative;
}

.support-top__head span b {
  font-size: 2.5rem;
}

.support-link {
  margin-top: 6.0625rem;
  padding: 0 0.625rem;
}

.support-link__inner {
  align-items: center;
  display: flex;
  gap: 83px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.support-link__inner a {
  -ms-grid-row-align: stretch;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  /*width: 296px;*/
  width: 346px;
}

.support-link__inner a:hover .support-link__item > img {
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
}

.support-link__item {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  height: 100%;
  justify-content: center;
  padding: 2.375rem 0;
  position: relative;
}

.support-link__item p {
  color: #0f0f0f;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: 0.13125rem;
  line-height: 1.43;
  text-align: center;
}

.support-link__item img {
  transition: all 0.2s ease-in-out;
  width: 21px;
}

.link-number {
  left: 20px;
  margin: auto;
  position: absolute;
  top: -2.1875rem;
}

.link-number p {
  color: #0f0f0f;
  font-size: 2.71875rem;
  font-weight: bold;
  letter-spacing: 0.1375rem;
}

.link-img.__01 {
  margin: auto;
  position: absolute;
  right: -1.25rem;
  top: -2.8125rem;
  width: 4.0625rem;
}

.link-img.__01 img {
  width: 100%;
}

.link-img.__02 {
  margin: auto;
  position: absolute;
  right: -2rem;
  top: -3.1875rem;
  width: 4.8125rem;
}

.link-img.__02 img {
  width: 100%;
}

.link-img.__03 {
  margin: auto;
  position: absolute;
  right: -3rem;
  top: -2rem;
  width: 7.3125rem;
}

.link-img.__03 img {
  width: 100%;
}

#s-1:before {
  content: "";
  display: block;
  height: 170px;
  margin-top: -170px;
}

#s-2:before {
  content: "";
  display: block;
  height: 170px;
  margin-top: -170px;
}

#s-3:before {
  content: "";
  display: block;
  height: 170px;
  margin-top: -170px;
}

.support-content__inner {
  align-items: center;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 4.375rem 1.25rem;
  position: relative;
  text-align: center;
}

.support-content__head h2 {
  color: #0f0f0f;
  font-size: 2.625rem;
  font-weight: bold;
  letter-spacing: 0.2625rem;
  line-height: 1;
}

.support-content__head p.__top {
  color: #0f0f0f;
  font-size: 1.125rem;
  letter-spacing: 0.1125rem;
  line-height: 2.11;
  margin-top: 3.125rem;
}

.support-content__head p.__top::before,
.support-content__head p.__top::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
}

.support-content__head p.__top::before {
  margin-top: calc((1 - 2.11) * 0.5em);
}

.support-content__head p.__top::after {
  margin-bottom: calc((1 - 2.11) * 0.5em);
}

.support-number {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -2.8125rem;
}

.support-number p {
  color: #0f0f0f;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 4px;
}

.support-content.__01 {
  padding: 0 1.25rem;
}

.support-content.__01 .support-content__inner {
  background: none;
  max-width: 60rem;
}

.support-content.__01 .support-content__inner .support-content__head p {
  margin-top: 3.125rem;
}

.support-content.__01 .support-content__inner .support-img {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: -44.375rem;
  top: -2.8125rem;
  width: 4.6875rem;
}

.support-content.__01 .support-content__inner .support-img img {
  width: 100%;
}

.support-content.__01 .support-shop__content {
  background: #fff;
  position: relative;
}

.support-content.__01 .support-shop__content::before {
  background: #fff;
  content: "";
  height: 7px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -7px;
  width: 550px;
}

.support-content__button {
  align-items: center;
  background: #000;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content: center;
  margin-top: 3.4375rem;
  max-width: 410px;
  position: relative;
  width: 100%;
}

.support-content__button a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.225rem;
}

.common__button--arrow p {
  font-family: "condense";
}

.support-content.__02 {
  margin-top: 7.125rem;
  padding: 0 0.625rem;
}

.support-content.__02 .support-content__inner {
  max-width: 60rem;
}

.support-content.__02 .support-content__inner .support-img {
  bottom: 0;
  left: -35rem;
  margin: auto;
  position: absolute;
  right: 0;
  top: -2.8125rem;
  width: 5.4375rem;
}

.support-content.__02 .support-content__inner .support-img img {
  width: 100%;
}

.leaf-supporter__content {
  background: #efeeee;
  margin: 0 auto;
  margin-top: 3.625rem;
  max-width: 876px;
  width: 100%;
}

.leaf-supporter__inner {
  padding: 0 2.375rem;
}

.leaf-supporter__inner p.__top {
  font-size: 1.0625rem;
  letter-spacing: 0.10625rem;
  line-height: 2.06;
  margin: 0 auto;
  margin-top: 2.25rem;
  max-width: 773px;
  text-align: justify;
}

.leaf-supporter__inner p.__top::before,
.leaf-supporter__inner p.__top::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
}

.leaf-supporter__inner p.__top::before {
  margin-top: calc((1 - 2.06) * 0.5em);
}

.leaf-supporter__inner p.__top::after {
  margin-bottom: calc((1 - 2.06) * 0.5em);
}

.support-flow__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3.4375rem;
}

.support-flow__inner .support-flow__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 300px;
  width: 100%;
}

.support-flow__inner .support-flow__item p.__number {
  align-items: center;
  background-color: #020202;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 37.5px;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.support-flow__inner .support-flow__item p.__text {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1.73;
  margin-top: 15px;
}

.support-flow__inner .support-flow__item p.__text.__first {
  white-space: nowrap;
}

.support-flow__inner .support-flow__item img {
  margin-top: 10px;
}

.support-flow__inner .support-flow__item.__02 img {
  margin-top: auto;
}

.leaf-supporter__head {
  align-items: center;
  background-color: #020202;
  display: flex;
  height: 55px;
  justify-content: center;
}

.leaf-supporter__head p {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2.2px;
}

.support-common__head {
  border-bottom: 2px solid #020202;
  margin-top: 4.1875rem;
  padding-bottom: 1.1875rem;
}

.support-common__head p {
  color: #0f0f0f;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2.2px;
  line-height: 1.91;
}

.support-common__head p::before,
.support-common__head p::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
}

.support-common__head p::before {
  margin-top: calc((1 - 1.91) * 0.5em);
}

.support-common__head p::after {
  margin-bottom: calc((1 - 1.91) * 0.5em);
}

.support-common__head.__return {
  margin-top: 1.875rem;
}

.support-return__inner {
  padding-bottom: 5.8125rem;
  padding-top: 3.8125rem;
}

.support-return__item {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 774px;
}

.support-return__item img {
  margin-right: 2.0625rem;
}

.support-return__item .return__text {
  text-align: left;
}

.support-return__item .return__text p.__head {
  color: #0f0f0f;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: 0.1375rem;
  line-height: 1.73;
}

.support-return__item .return__text p.__head::before,
.support-return__item .return__text p.__head::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
}

.support-return__item .return__text p.__head::before {
  margin-top: calc((1 - 1.73) * 0.5em);
}

.support-return__item .return__text p.__head::after {
  margin-bottom: calc((1 - 1.73) * 0.5em);
}

.support-return__item .return__text p.__text {
  font-size: 15px;
  letter-spacing: 0.09375rem;
  line-height: normal;
  margin-top: 0.9375rem;
  text-align: justify;
}

.support-return__item:not(.__first) {
  margin-top: 2.375rem;
}

.leaf-supporter__button {
  margin-top: 3.25rem;
  transition: all 0.2s ease-in-out;
}

.leaf-supporter__button:hover {
  opacity: 0.7;
}

.support-content.__03 {
  margin-top: 7.125rem;
  padding: 0 1.25rem;
}

.support-content.__03 .support-content__inner {
  max-width: 60rem;
}

.support-content.__03 .support-content__inner .support-img {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: -34.375rem;
  top: -1.875rem;
  width: 8.8125rem;
}

.support-content.__03 .support-content__inner .support-img img {
  width: 100%;
}

.support-shop__content {
  border: 7px solid #000;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 6.1875rem;
  max-width: 880px;
  padding: 0 3.375rem;
  padding-bottom: 4.0625rem;
  position: relative;
}

.support-shop__head {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -1.875rem;
  width: 540px;
}

.support-shop__head .__list {
  align-items: center;
  display: flex;
  justify-content: center;
}

.support-shop__head .__list p {
  align-items: center;
  color: #0f0f0f;
  display: flex;
  font-size: 1.875rem;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.1875rem;
  line-height: 1.4;
  margin-bottom: -0.3125rem;
}

.support-shop__head .__list p::before,
.support-shop__head .__list p::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
}

.support-shop__head .__list p::before {
  margin-top: calc((1 - 1.4) * 0.5em);
}

.support-shop__head .__list p::after {
  margin-bottom: calc((1 - 1.4) * 0.5em);
}

.support-shop__head .__list p b {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.support-shop__head hr {
  border: 3px solid #55ba7e;
  max-width: 87%;
}

.support-shop-text {
  margin-top: 4.8125rem;
}

.support-shop-text p {
  font-size: 1.0625rem;
  letter-spacing: 0.10625rem;
  line-height: 2.06;
  text-align: justify;
}

.support-shop-text p::before,
.support-shop-text p::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
}

.support-shop-text p::before {
  margin-top: calc((1 - 2.06) * 0.5em);
}

.support-shop-text p::after {
  margin-bottom: calc((1 - 2.06) * 0.5em);
}

.support-shop__inner img {
  margin-top: 55px;
}

.support-shop__button {
  margin-top: 3.25rem;
  transition: all 0.2s ease-in-out;
}

.support-shop__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .support-top__head p {
    font-size: 30px;
    font-size: 4.6875vw;
    font-weight: bold;
    letter-spacing: 0.1875rem;
    line-height: 1.32;
  }

  .support-top__head span b {
    font-size: 3.375rem;
  }

  .support-link {
    margin-top: 7.875rem;
    padding-left: 50px;
    padding-left: 7.8125vw;
    padding-right: 50px;
    padding-right: 7.8125vw;
  }

  .support-link__inner {
    flex-direction: column;
    gap: 0;
  }

  .support-link__inner a {
    width: 100%;
  }

  .support-link__inner a:last-of-type {
    margin-top: 45.5px;
  }

  .support-link__item {
    flex-direction: row;
    padding: 2.1875rem 0 2.0625rem;
  }

  .support-link__item p {
    color: #0f0f0f;
    font-size: 29px;
    font-size: 4.53125vw;
    font-weight: bold;
    letter-spacing: 0.18125rem;
    line-height: 1.76;
  }

  .support-link__item img {
    margin-left: 0.625rem;
    margin-right: -0.625rem;
    width: 1.8125rem;
  }

  .link-number {
    left: 0;
    right: 0;
    top: -4.375rem;
  }

  .link-number p {
    font-size: 61px;
    font-size: 9.53125vw;
  }

  .link-img.__01 {
    right: -0.375rem;
    top: -3.875rem;
    width: 67px;
    width: 10.46875vw;
  }

  .link-img.__02 {
    right: -1.25rem;
    top: -2.1875rem;
    width: 77px;
    width: 12.03125vw;
  }

  .link-img.__03 {
    left: -2.1875rem;
    right: initial;
    top: -4.375rem;
    width: 127px;
    width: 19.84375vw;
  }

  .support-content__head h2 {
    font-size: 38px;
    font-size: 5.9375vw;
    letter-spacing: 0.2375rem;
  }

  .support-content__head p.__top {
    font-size: 24px;
    font-size: 3.75vw;
    letter-spacing: 0.15rem;
    line-height: 1.8;
  }

  .support-number p {
    font-size: 80px;
    font-size: 12.5vw;
  }

  .support-content-list {
    margin-top: 2.5rem;
  }

  .support-content.__01 .support-content__inner {
    padding-top: 0;
  }

  .support-content.__01 .support-content__inner .support-img {
    right: -31.875rem;
    top: -7.5rem;
    width: 75px;
    width: 11.71875vw;
  }

  .support-content.__01 .support-shop__content::before {
    height: 7px;
    top: -7px;
    width: 70%;
  }

  .support-content__button {
    border-radius: 55px;
    height: 112px;
    height: 17.5vw;
    max-width: 560px;
    max-width: 87.5vw;
  }

  .support-content__button a {
    font-size: 25px;
    font-size: 3.90625vw;
  }

  .support-content.__02 .support-content__inner .support-img {
    left: initial;
    right: 10%;
    top: -4.375rem;
    width: 87px;
    width: 13.59375vw;
  }

  .leaf-supporter__inner p.__top {
    font-size: 24px;
    font-size: 3.75vw;
    letter-spacing: 0.15rem;
    line-height: 1.8;
  }

  .support-flow__inner {
    -ms-grid-columns: 50% 50%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .support-flow__inner .support-flow__item {
    margin-bottom: 32px;
    max-width: 100%;
  }

  .support-flow__inner .support-flow__item p.__text {
    font-size: 11px;
    font-size: 3.4375vw;
  }

  .leaf-supporter__head {
    height: 5rem;
  }

  .leaf-supporter__head p {
    font-size: 26px;
    font-size: 4.0625vw;
  }

  .support-common__head p {
    font-size: 28px;
    font-size: 4.375vw;
  }

  .support-return__item {
    flex-direction: column;
  }

  .support-return__item img {
    margin-right: 0;
    width: 100px;
  }

  .support-return__item .return__text {
    text-align: center;
  }

  .support-return__item .return__text p.__head {
    font-size: 26px;
    font-size: 4.0625vw;
    margin-top: 1.6875rem;
  }

  .support-return__item .return__text p.__text {
    font-size: 22px;
    font-size: 3.4375vw;
    line-height: 1.91;
  }

  .support-return__item .return__text p.__text::before,
  .support-return__item .return__text p.__text::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
  }

  .support-return__item .return__text p.__text::before {
    margin-top: calc((1 - 1.91) * 0.5em);
  }

  .support-return__item .return__text p.__text::after {
    margin-bottom: calc((1 - 1.91) * 0.5em);
  }

  .support-return__item:not(.__first) {
    margin-top: 38px;
  }

  .support-content.__03 .support-content__inner .support-img {
    left: 5%;
    right: initial;
    top: -4.6875rem;
    width: 141px;
    width: 22.03125vw;
  }

  .support-shop__content {
    padding: 0 3rem;
    padding-bottom: 4.0625rem;
  }

  .support-shop__head {
    top: -2.1875rem;
    width: 62%;
  }

  .support-shop__head .__list {
    flex-direction: column;
  }

  .support-shop__head .__list p {
    font-size: 30px;
    font-size: 4.6875vw;
  }

  .support-shop__head .__list p b {
    font-size: 30px;
    font-size: 4.6875vw;
  }

  .support-shop-text {
    margin-top: 7.8125rem;
  }

  .support-shop-text p {
    font-size: 24px;
    font-size: 3.75vw;
  }
}

@media screen and (max-width: 576px) {
  .support-content__head p.__top {
    margin-top: 37.5px;
  }

  .support-content.__01 .support-shop__content::before {
    height: 3.5px;
    top: -3.5px;
  }

  .leaf-supporter__content {
    margin-top: 35.5px;
  }

  .support-flow__inner .support-flow__item p.__number {
    font-size: 18px;
    height: 25px;
    width: 25px;
  }

  .support-flow__inner .support-flow__item img {
    margin-top: auto;
    width: 80%;
  }

  .support-shop__content {
    border-width: 3.5px;
  }

  .support-shop__head hr {
    background: #55ba7e;
    border: 1.5px solid #55ba7e;
  }

  .support-shop__button {
    margin-top: 32.5px;
  }
}
/*# sourceMappingURL=sourcemaps/support.css.map */


